.main-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 6vh;

    padding: 10px;
    color: #ffffff;
    margin-block-end: 91px;
}

.main-header nav {
    display: flex;
    gap: 57px;
    font-family: Arial, Helvetica, sans-serif;
}

.main-header a {
    color: #989ca2;
}