.recommendations {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

.recommendation-card {
    width: 360px;
    height: 200px;
    box-shadow: 5px 5px 8px 4px rgba(56, 56, 56, 0.1);
    border-radius: 4px;
    background-color: #202a3c;
    padding: 26px;
}

.recommendations p {
    width: 310px;
    height: 80px;
    color: #ffffff;
    font-family: "Open Sans - Regular";
    font-size: 14px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 21px;
    text-align: left;
}

.recommendations img {
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin-inline-end: 10px;
}

.recommendations h3 {
    width: 47px;
    height: 13px;
    color: #ffffff;
    font-family: "Open Sans - Bold";
    font-size: 10px;
    font-weight: 700;
    font-style: normal;
    letter-spacing: 0.5px;
    line-height: 12px;
    text-align: left;
}

.recommendations h4 {
    width: 101px;
    height: 10px;
    color: #ffffff;
    font-family: "Open Sans - Regular";
    font-size: 8px;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0.57px;
    line-height: 10px;
    text-align: left;
    font-style: normal;
    letter-spacing: 0.65px;
    line-height: normal;
}

.person-container {
    display: flex;
    align-items: center;
}